header {
	background: url('http://i.imgur.com/SQ2SIL0.jpg');
	background-size: cover;
	background-blend-mode: 
}
header h1 {
	padding: 150px;
	color: white;
	size: 30px;
}



.img-responsive {
	max-width: 50%; /* or to whatever you want here */
	max-height: auto; /* or to whatever you want here */
}

#contact {
	padding: 30px;
	background-color: black;
	font-size: 18px;
	color: white;
}

#social-buttons {
	padding-top: 30px;
}

#social-buttons button {
	color: white;
}

.btn-twitter {
	background-color: #00acee;
	border-color: #009ad5;
}
.btn-facebook { 
	background-color: #4868ac; border-color: #314776;
}
.btn-pinterest {
	background-color: #b62f26;
	border-color: #b62f26;
}