@import url('https://fonts.googleapis.com/css?family=Mate+SC');

header {
	background: url('http://i.imgur.com/SQ2SIL0.jpg');
	background-size: cover;
	background-blend-mode: 
}
header h1 {
	padding: 100px;
	color: rgb(990);
	text-align: center;
	size: 60px;
}

body {
		font-family: 'Mate SC', serif;
}

body p {
	font-size: 20px;
}



#navbar {
	padding-right:15px;
}

.img-responsive {
	max-width: 50%; /* or to whatever you want here */
	max-height: auto; /* or to whatever you want here */
}

#contact {
	padding: 30px;
	background-color: black;
	font-size: 18px;
	color: white;
}

#social-buttons {
	padding-top: 30px;
}

#social-buttons button {
	color: white;
}

.btn-twitter {
	background-color: #00acee;
	border-color: #009ad5;
}
.btn-facebook { 
	background-color: #4868ac; border-color: #314776;
}
.btn-pinterest {
	background-color: #b62f26;
	border-color: #b62f26;
}

.mission {
	text-align: justify;
}

.google_form {
	padding-top: 60px;
}